<h1><%= @collection.collection_name %></h1>

<% @collection.wine_id do |wine_collection| %>
  <h1><%= wine_collection %></h1>
<% end %>

<a href="/users/<%= @user.id %>/collections/<%= @collection.id %>/wines/new">Add Wine</a>
<a data-method="delete" href="/users/<%= @user.id %>/collections/<%= @collection.id %>">Delete Collection</a>

