<h1>Change Your Password</h1>

<%= form_for @user do |f| %>
  <%= render 'layouts/flash_notice' %>
  <div id="new-user-form">
    <div id="new_password">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div id="new_register_button">
      <%= f.submit %>
    </div>
  </div>

<% end %>