<h1>Register</h1>

<%= form_for @users do |f| %>

  <% if @users.errors.present? %>
    <% @users.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <div id="new_email">
    <%= f.label :email, 'Email Address' %>
    <%= f.text_field :email %>
  </div>

  <div id="new_password">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div id="new_register_button">
    <%= f.button :register %>
  </div>
<% end %>