<h1>Edit</h1>

<%= form_for [@user, @collection, @edited_wine], :html => {:multipart => true} do |f| %>
  <div id="add-wine-page">
    <div id="column2">
      <%= f.label :wine_type, 'Wine Type:', class: "form-label" %>
      <%= f.select :wine_type, ['Asti', 'Barolo', 'Beaujolais Nouveau', 'Bordeaux', 'Cabernet Franc', 'Cabernet Sauvignon', 'Cava', 'Champagne', 'Chardonnay', 'Cremant', 'Dolcetto', 'Espumate', 'Gewürztraminer', 'Malbec', 'Merlot', 'Muscato', 'Red Blend', 'Sangiovese', 'Sauvignon Blanc', 'Semillon', 'Shiraz', 'Pinot Grigio', 'Pinot Noir', 'Prosecco', 'Riesling', 'Viognier', 'White Blend', 'Zinfandel', 'Zinfandel Blush'] %>
    </div>

    <div id="column2">
      <%= f.label :wine_name, 'Wine or Vineyard Name:', class: "form-label" %>
      <%= f.text_field :wine_name %>
    </div>

    <div id="column1">
      <%= f.label :wine_sweetness, 'Wine Sweetness (Dry-Sweet):', class: "form-label" %>
    </div>
    <div id="column2">
      <%= f.range_field :wine_sweetness %>
    </div>

    <div id="column1">
      <%= f.label :wine_body, 'Wine Body (Light-Heavy):', class: "form-label" %>
    </div>
    <div id="column2">
      <%= f.range_field :wine_body, in: %w{'Light', 'Medium', 'Heavy'} %>
    </div>

    <div id="column2">
      <%= f.label :wine_vintage, 'Wine Vintage:', class: "form-label" %>
      <%= f.number_field :wine_vintage, in: 1900..2014 %>
    </div>

    <div id="column2">
      <%= f.label :wine_abv, 'Wine ABV:', class: "form-label" %>
      <%= f.text_field :wine_abv %>
    </div>

    <div id="column2">
      <%= f.label :wine_image, 'Wine Label Image:', class: "form-label" %>
      <%= f.file_field :wine_image, class: 'wine_image_submit' %>
    </div>

    <div id="column1">
      <%= f.label :wine_fruit_taste, 'Wine Tasting Notes:', class: "form-label tasting-notes" %>
    </div>

    <div id="column2">
      <%= f.text_area :wine_fruit_taste %>
    </div>

    <div id="column1">
      <%= f.label :wine_overall_rating, 'Wine Overall Rating (Scale of 1-100):', class: "form-label" %>
    </div>

    <div id="column2">
      <%= f.range_field :wine_overall_rating %>
    </div>

    <div id="button">
      <%= f.submit :Submit, class: 'new_wine_submit' %>
    </div>
  </div>
<% end %>
