<% if session[:id].nil? %>
  <h1>Wines</h1>
  <% @wines.each do |wine| %>
    <div id="each_wine">
      <div id="placeholder">
        <%= image_tag wine.wine_image_url(:thumb).to_s %>
      </div>
      <%= wine.wine_vintage %>
      <%= wine.wine_type %>
      <div id="wine_name">
        <%= wine.wine_name %>
      </div>
      <div id="overall_rating">
        Overall Rating:
        <%= wine.wine_overall_rating %>
      </div>
    </div>
  <% end %>
<% else %>
  <h1>
    <div id="edit_collection_link">
      <a href="/users/<%= params[:user_id] %>/collections/<%= params[:collection_id] %>/edit">Edit</a>
    </div>
    <%= @collection.collection_name %>
  </h1>

  <div id="add-wine-link">
    <a href="/users/<%= params[:user_id] %>/collections/<%= params[:collection_id] %>/wines/new">+</a>
  </div>
  <% @collection.wines.each do |wine| %>
    <div id="each_wine">
      <div id="placeholder">
        <%= image_tag wine.wine_image_url(:thumb).to_s, class: 'placeholder' %>
      </div>
      <%= wine.wine_vintage %>
      <%= wine.wine_type %>
      <div id="wine_name">
        <%= wine.wine_name %>
      </div>
      <div id="overall_rating">
        Overall Rating:
        <%= wine.wine_overall_rating %>
      </div>
      <div id="edit_link">
        <a href="/users/<%= params[:user_id] %>/collections/<%= params[:collection_id] %>/wines/<%= wine.id %>/edit">Edit
          this <%= wine.wine_type %></a>
      </div>
      <div id="delete_link">
        <a data-method="delete" href="/users/<%= params[:user_id] %>/collections/<%= params[:collection_id] %>/wines/<%= wine.id %>">Delete
          this <%= wine.wine_type %></a>
      </div>
    </div>
  <% end %>

  <div id="delete_collection_link">
    <a data-method="delete" href="/users/<%= params[:user_id] %>/collections/<%= params[:collection_id] %>">Delete
      Collection</a>
  </div>


<% end %>


