<div id="wrapper">
  <h1>Wines</h1>

  <h3>Top Wines</h3>

  <h3>Maybe Again</h3>

  <h3>Never Again</h3>


  <a href="/wines/new">Add Wine</a>


  <% @wines.each do |wine| %>
    <%= wine.wine_type %>
    <%= wine.wine_overall_rating %>

    <a href="/wines/<%= wine.id %>/edit">Edit this <%= wine.wine_type %></a>
    <a data-method="delete" href="/wines/<%= wine.id %>">Delete this <%= wine.wine_type %></a>
  <% end %>

</div>