<div id="wrapper">

  <h1> Add Wine </h1>

  <%= form_for @wines do |f| %>
    <div id="column1">
      <%= f.label :wine_type, class: "form-label" %>
    </div>
    <div id="column2">
      <%= f.text_field :wine_type %>
    </div>
    <div id="column1">
      <%= f.label :wine_fruit_taste, class: "form-label" %>
    </div>
    <div id="column2">
      <%= f.text_field :wine_fruit_taste %>
    </div>
    <div id="column1">
      <%= f.label :wine_sweetness, class: "form-label" %>
    </div>
    <div id="column2">
      <%= f.text_field :wine_sweetness %>
    </div>
    <div id="column1">
      <%= f.label :wine_body, class: "form-label" %>
    </div>
    <div id="column2">
      <%= f.text_field :wine_body %>
    </div>
    <div id="column1">
      <%= f.label :wine_vintage, class: "form-label" %>
    </div>
    <div id="column2">
      <%= f.text_field :wine_vintage %>
    </div>
    <div id="column1">
      <%= f.label :wine_abv, class: "form-label" %>
    </div>
    <div id="column2">
      <%= f.text_field :wine_abv %>
    </div>
    <div id="column1">
      <%= f.label :wine_overall_rating, class: "form-label" %>
    </div>
    <div id="column2">
      <%= f.text_field :wine_overall_rating %>
    </div>

    <div id="button">
      <%= f.submit :Submit %>
    </div>
  <% end %>

</div>