<h1>All My Wines</h1>

<% @wines.each do |wine| %>
  <div id="each_wine">
    <div id="placeholder">
      <%= image_tag wine.wine_image_url(:thumb).to_s %>
    </div>
    <%= wine.wine_vintage %>
    <%= wine.wine_type %>
    <div id="wine_name">
      <%= wine.wine_name %>
    </div>
    <div id="overall_rating">
      Overall Rating:
      <%= wine.wine_overall_rating %>
    </div>
    <div id="edit_link">
      <%= link_to "Edit this #{wine.wine_type}", edit_user_collection_wine_path(set_user, wine.collection_id, wine.id) %>
    </div>
    <div id="delete_link">
      <%= link_to "Delete this #{wine.wine_type}", user_collection_wine_path(set_user, wine.collection_id, wine.id) %>
    </div>
  </div>
<% end %>