<div id="wrapper">

<% @wines.each do |wine| %>
  <%= wine.wine_type %>
  <%= wine.wine_fruit_taste %>
  <%= wine.wine_sweetness %>
  <%= wine.wine_body %>
  <%= wine.wine_vintage %>
  <%= wine.wine_abv %>
  <%= wine.wine_overall_rating %>

  <a href="/wines/<%= wine.id %>/edit">Edit this <%= wine.wine_type %></a>
  <a data-method="delete" href="/wines/<%= wine.id %>">Delete this <%= wine.wine_type %></a>

<% end %>

</div>