<!DOCTYPE html>
<html>
<head>
  <title>Drank</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type='text/css'>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<div id="wine_image">
</div>
<header>
  <a href="/">
    <%= image_tag 'drank_logo.png' %>
  </a>
  <% if session[:id].nil? %>
    <div id="see_all_wines_link">
      <a href="/wines">See All Wines</a>
    </div>
  <% else %>
    <ul id="nav-bar">
      <li id="nav-bar"><a href="/users/<%= session[:id] %>/collections">My Collections</a></li>
      <li id="nav-bar"><a href="/about">Wine 101</a></li>
      <li id="nav-bar"><a href="/users/<%= session[:id] %>/wines">My Wines</a></li>
      <li id="nav-bar"><a href="/logout">Logout</a></li>
    </ul>
  <% end %>
</header>
<div id="content_wrapper">
  <%= yield %>
</div>
<footer>follow me on Twitter! @kericlowes</footer>
</body>
</html>
