<!DOCTYPE html>
<html>
<head>
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type='text/css'>
  <title>DrankApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= image_tag 'drank_logo.png' %>
</header>

<%= yield %>

</body>
</html>
