<!DOCTYPE html>
<html>
<head>
  <title>Drank</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type='text/css'>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<div id="wine_image">
</div>
<header>
  <a href="/">
    <%= image_tag 'drank_logo.png' %>
  </a>
  <% if session[:id].nil? %>
    <ul id="welcome-bar">
      <li id="welcome-bar"><%= link_to 'Login', sessions_path %></li>
      <li id="welcome-bar"><%= link_to 'Register', new_user_path %></li>
      <li id="welcome-bar"><%= link_to 'See All Wines', wines_path %></li>
      <li id="welcome-bar"><%= link_to 'Wine 101', about_path %></li>
    </ul>
  <% else %>
      <p>Signed in as: <%= set_user_by_session.email %></p>
    <ul id="nav-bar">
      <li id="nav-bar"><%= link_to 'My Collections', user_collections_path(set_user_by_session) %></li>
      <li id="nav-bar"><a href="/users/<%= set_user_by_session.id %>/wines">My Wines</a></li>
      <li id="nav-bar"><%= link_to 'Wine 101', about_path %></li>
      <li id="nav-bar"><%= link_to 'Logout', logout_path %></li>
    </ul>
  <% end %>
</header>
<div id="content_wrapper">
  <%= yield %>
</div>
<footer><p>2014</p> Developed + Designed by Keri Clowes</footer>
</body>
</html>
